<div class="pagination" *ngIf="pages?.length >= 1">
    <button id="prev" (click)="previous($event)">{{ previousLabel }}</button>
    <span *ngFor="let page of pages">
        <button type="button" *ngIf="page === currentPage" class="pagination__page" (click)="setCurrent($event,page-1)">
            <b>{{page}}</b>
        </button>
        <button type="button" *ngIf="page !== currentPage" class="pagination__page" (click)="setCurrent($event,page-1)">
            {{page}}
        </button>
    </span>
    <button id="next" (click)="next($event)">{{ nextLabel }}</button>
</div>
<div class="main">
    <div *ngFor="let data of items;let i=index;">
        <app-card *ngIf="i >= startIndex && i <= endIndex" [eachCompanyData]=data></app-card>
    </div>
</div>