
<div class="container">
    <div class="container__filters">
        <div class="container__filters__search">
            <input type="search" name="" (keyup)="search()" id="search" class="mb-3 rounded" [(ngModel)]="searchText" placeholder="Search By Title or Description">
        </div>
        <div class="container__filters__sort">
            Sort by
            <select (change)="search()" [(ngModel)]="sortField"> 
                <option selected="selected" value="">Select</option>
                <option value="asctitle" id="asctitle">Asc by Title</option>
                <option value="destitle">Des by Title</option>
                <option value="date">Sort By date</option>
            </select>
        </div>
    </div>
    <div>
        <app-pagination [currentPage]="currentPage" [startIndex]="startIndex" 
        [endIndex]="endIndex" 
        [pages]="pages" 
        [items]="designCompaniesData" 
        [count]="recordsCount"> </app-pagination>
    </div>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Edited on
                </th>
            </tr>
        </thead>
        <tr *ngFor="let data of designCompaniesData">
            <td>{{data.name}}</td>
            <td>{{data.description}}</td>
            <td>{{data.dateLastEdited | date:'short'}} </td>
        </tr>
    </table>
</div>
